body {
  background-color: #222;
  /*scroll lock*/
  /*overflow: hidden; */
  font-size: 130%;
}

.centered {
  text-align: center;
}

.equation{
/*  margin-top: 30px;
margin-bottom: 30px;*/
overflow: hidden;
}

.panel-body h2:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body h3 {
	color: #66afe9;
}